### 이마트 컬럼명 변경

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('./Emart_info.csv', index_col=0, encoding='utf-8')
data

         store                             address        contact
0     이마트 가든5점                   서울특별시 송파구 충민로 10     02-411-1234
1      이마트 가양점                     서울 강서구 양천로 559    02-2101-1234
2      이마트 강릉점                강원도 강릉시 경강로 2398-10    033-649-1234
3      이마트 검단점                   인천광역시 서구 서곶로 754    032-440-1234
4    이마트 경기광주점                     경기 광주시 광주대로 30   031-8026-1234
..         ...                                 ...            ...
133   이마트 하월곡점  서울특별시 성북구 종암로 167 (하월곡동, 동일하이빌뉴시티)   02-6936-1234
134   이마트 해운대점                  부산 해운대구 좌동순환로 511    051-608-1234
135  이마트 화성봉담점                경기도 화성시 봉담읍 효행로 278    031-228-1234
136    이마트 화정점                 경기도 고양시 덕양구 백양로 79    031-995-1234
137    이마트 흥덕점               경기도 용인시 기흥구 흥덕중앙로 60   031-8021-1234

[138 rows x 3 columns]

In [5]:
data = data.rename(columns={'tell':'tel'})
data.to_csv('Emart_info2.csv', index=True)

In [6]:
df = pd.read_csv('./Emart_info_loc.csv', index_col=0, encoding='utf-8')
df

,store,address,Latitude,Longitude,contact
0,이마트 가든5점,서울특별시 송파구 충민로 10,37.478232,127.119370,02-411-1234
1,이마트 가양점,서울 강서구 양천로 559,37.557897,126.862298,02-2101-1234
2,이마트 강릉점,강원도 강릉시 경강로 2398-10,37.770583,128.922618,033-649-1234
3,이마트 검단점,인천광역시 서구 서곶로 754,37.585534,126.677194,032-440-1234
4,이마트 경기광주점,경기 광주시 광주대로 30,37.409522,127.261229,031-8026-1234
...,...,...,...,...,...
133,이마트 하월곡점,"서울특별시 성북구 종암로 167 (하월곡동, 동일하이빌뉴시티)",37.605834,127.030928,02-6936-1234
134,이마트 해운대점,부산 해운대구 좌동순환로 511,35.165994,129.167388,051-608-1234
135,이마트 화성봉담점,경기도 화성시 봉담읍 효행로 278,37.223313,126.972719,031-228-1234
136,이마트 화정점,경기도 고양시 덕양구 백양로 79,37.632646,126.833384,031-995-1234
137,이마트 흥덕점,경기도 용인시 기흥구 흥덕중앙로 60,37.275715,127.073340,031-8021-1234

In [7]:
df = df.rename(columns={'contact':'tel'})
df.head()
df.to_csv('Emart_info_loc2.csv', index=True)

In [9]:
df.address

0                        서울특별시 송파구 충민로 10
1                          서울 강서구 양천로 559
2                     강원도 강릉시 경강로 2398-10
3                        인천광역시 서구 서곶로 754
4                          경기 광주시 광주대로 30
                      ...
133    서울특별시 성북구 종암로 167 (하월곡동, 동일하이빌뉴시티)
134                     부산 해운대구 좌동순환로 511
135                   경기도 화성시 봉담읍 효행로 278
136                    경기도 고양시 덕양구 백양로 79
137                  경기도 용인시 기흥구 흥덕중앙로 60
Name: address, Length: 138, dtype: object

In [10]:
addr = []
for address in df.address:
    addr.append(str(address).split())
addr

[['서울특별시', '송파구', '충민로', '10'],
 ['서울', '강서구', '양천로', '559'],
 ['강원도', '강릉시', '경강로', '2398-10'],
 ['인천광역시', '서구', '서곶로', '754'],
 ['경기', '광주시', '광주대로', '30'],
 ['경상북도', '경산시', '옥산로', '227'],
 ['인천광역시', '계양구', '봉오대로', '785', '이마트계양점'],
 ['경기도', '과천시', '별양상가3로', '11'],
 ['경기도', '수원시', '광교로', '191(이의동)'],
 ['경기도', '광명시', '소하로', '97'],
 ['경기도', '광명시', '오리로', '970', '지하2층'],
 ['광주광역시', '광산구', '사암로', '172', '이마트', '광산점'],
 ['광주', '서구', '죽봉대로', '61'],
 ['서울', '구로구', '디지털로', '32길', '43'],
 ['경상북도', '구미시', '구미대로', '256'],
 ['전북', '군산시', '구암3.1로', '137'],
 ['부산', '금정구', '중앙대로1841번길', '24', '(구서동,', '(주)이마트금정점)'],
 ['경북', '김천시', '시청로', '75'],
 ['경기도', '김포시', '김포한강7로', '71', '구주소)경기', '김포시', '구래동', '6880-9'],
 ['경남', '김해시', '김해대로', '2232', '(외동)', '이마트', '김해점'],
 ['경기도', '남양주시', '늘을2로', '27'],
 ['전북', '남원시', '남문로', '385-16'],
 ['경기도', '남양주시', '도농로', '24'],
 ['대전광역시', '동구', '동서대로', '1689'],
 ['경상북도', '구미시', '이계북로', '23'],
 ['경기도', '용인시', '기흥구', '동백죽전대로', '444'],
 ['인천', '중구', '인중로', '134'],
 ['경기도', '화성시', '동탄중앙로', '376'],
 ['강원도', '동해시', '천곡로', '100'],
 ['대전', '서구', '둔산북로', '41'],
 ['경상남도', '창원시', '마산합포구', '서성로', '3'],
 ['서울특별시', '마포구', '백범로', '212'],
 ['대구', '수성구', '동원로', '136', '(만촌동,', '이마트만촌점)'],
 ['서울', '강동구', '고덕로', '276'],
 ['서울특별시', '양천구', '오목로', '299'],
 ['전남', '목포시', '옥암로', '138'],
 ['서울특별시', '중랑구', '동일로', '932'],
 ['부산광역시', '남구', '전포대로91번길', '47'],
 ['서울특별시', '성북구', '도봉로', '17', '(길음동)'],
 ['대구광역시', '동구', '안심로', '389-2'],
 ['경기도', '남양주시', '순화궁로', '167', '(별내동)'],
 ['경기도', '용인시', '기흥구', '한보라1로', '92'],
 ['충청남도', '보령시', '해안로', '25'],
 ['광주광역시', '남구', '봉선로', '198'],
 ['경기', '부천시', '부천로', '1', '(심곡본동,', '부천역사쇼핑몰)', '이마트', '부천점'],
 ['경기도', '성남시', '분당구', '불정로', '134'],
 ['부산광역시', '사상구', '광장로', '17'],
 ['경상남도', '사천시', '삼천포대교로', '591'],
 ['경기', '군포시', '산본로', '347'],
 ['서울', '중랑구', '상봉로', '118'],
 ['경상북도', '상주시', '경상대로', '3141'],
 ['제주특별자치도', '서귀포시', '일주동로', '9209'],
 ['충청남도', '서산시', '서해로', '3685'],
 ['경기도', '수원시', '권선구', '수인로', '291'],
 ['경기도', '성남시', '수정구', '수정로', '201'],
 ['대구', '달서구', '이곡동로', '24'],
 ['서울', '성동구', '뚝섬로', '379'],
 ['세종특별자치시', '금송로', '687'],
 ['강원도', '속초시', '설악금강대교로', '12'],
 ['서울', '은평구', '수색로', '217', '(수색동,', '디엠씨', '자이1단지(DMC', '자이1))'],
 ['서울특별시', '강남구', '광평로', '280'],
 ['경기', '수원시', '권선구', '경수대로', '270', '(권선동,', '주차빌딩)'],
 ['경기도', '용인시', '수지구', '수지로', '203', '(신봉동)'],
 ['전라남도', '순천시', '팔마로', '191'],
 ['경기도', '시흥시', '정왕대로', '210'],
 ['서울특별시', '구로구', '새말로', '97', '테크노마트', '지하2층'],
 ['서울특별시', '양천구', '화곡로', '59'],
 ['제주특별자치도', '제주시', '1100로', '3348'],
 ['서울', '마포구', '신촌로', '94', '(노고산동,', '그랜드플라자)'],
 ['충청남도', '아산시', '온천대로', '1678'],
 ['경북', '안동시', '옥동', '1길2'],
 ['경기도', '안산시', '단원구', '원포공원1로', '46'],
 ['경기도', '안성시', '중앙로', '246'],
 ['경기', '안양시', '동안구', '관악대로', '104', '(비산동,', '부방유통)', '이마트', '안양점'],
 ['경상남도', '양산시', '양산역6길', '12'],
 ['서울특별시', '서초구', '매헌로', '16'],
 ['경기도', '양주시', '평화로', '1713'],
 ['전북',
  '전주시',
  '덕진구',
  '세병서로',
  '9',
  '(송천동2가,',
  '전주',
  '에코시티',
  '이마트)',
  '(세병서로',
  '9)'],
 ['전남', '여수시', '좌수영로', '277'],
 ['서울특별시', '영등포구', '여의동로3길', '10'],
 ['경기도', '여주시', '세종로', '151'],
 ['서울특별시', '강남구', '역삼로', '310'],
 ['인천광역시', '연수구', '경원대로', '184'],
 ['부산', '연제구', '연수로', '89', '이마트', '연제점'],
 ['서울특별시', '영등포구', '영중로', '15'],
 ['경상북도', '영천시', '최무선로', '83'],
 ['경기도', '오산시', '경기대로', '181'],
 ['서울특별시', '성동구', '왕십리광장로', '17', '이마트', '왕십리점'],
 ['서울특별시', '용산구', '한강대로23길', '55'],
 ['경기도', '용인시', '처인구', '명지로', '53', '이마트', '용인점'],
 ['울산광역시', '남구', '남중로', '48'],
 ['강원', '원주시', '북원로', '1928'],
 ['서울특별시', '노원구', '마들로3길', '15', '이마트', '월계점'],
 ['대구', '달서구', '진천로', '92', '이마트', '월배점'],
 ['서울', '은평구', '은평로', '111', '이마트', '은평점'],
 ['경기', '의왕시', '경수대로', '262', '(오전동,', '서해그랑블)', 'B1F~B2F', '이마트의왕점'],
 ['경기', '의정부시', '민락로', '210'],
 ['서울특별시', '동작구', '사당로', '300', '이수자이', 'B1'],
 ['경기', '이천시', '이섭대천로', '1440-50'],
 ['전라북도', '익산시', '평동로', '705'],
 ['경기', '고양시', '일산동구', '중앙로', '1124'],
 ['서울특별시', '광진구', '아차산로', '272'],
 ['전북', '전주시', '완산구', '당산로', '111'],
 ['제주특별자치도', '제주시', '탑동로', '38'],
 ['충청북도', '제천시', '장평천로', '11'],
 ['경기도', '용인시', '수지구', '포은대로', '552'],
 ['경기', '부천시', '석천로', '188', '(중동,', '(주)신세계이마트중동점)'],
 ['경기도', '남양주시', '진접읍', '금강로유연들1길', '154'],
 ['경남', '진주시', '진양호로', '477'],
 ['서울', '도봉구', '노해로', '65길', '4'],
 ['경상남도', '창원시', '성산구', '원이대로', '608'],
 ['충남', '천안시', '서북구', '삼성대로', '20'],
 ['충남', '천안시', '서북구', '충무로', '187'],
 ['충청남도', '천안시', '동남구', '만남로', '43'],
 ['서울', '강동구', '천호대로', '1017'],
 ['서울특별시', '중구', '청계천로', '400'],
 ['충북', '청주시', '서원구', '청남로', '1853'],
 ['강원도', '춘천시', '경춘로', '2353'],
 ['충북', '충주시', '중원대로', '3420'],
 ['대구', '북구', '침산로', '93'],
 ['경기도', '고양시', '일산서구', '킨텍스로', '171(대화동)'],
 ['강원도', '태백시', '굴거랑길', '4'],
 ['경상남도', '통영시', '광도면', '죽림4로', '9'],
 ['경기도', '파주시', '한울로', '123'],
 ['경기도', '파주시', '당하길', '10'],
 ['경기', '수원시', '장안구', '정자로20번길', '10', '(천천동)'],
 ['경기도', '안양시', '동안구', '시민대로', '300'],
 ['경기', '평택시', '영신로', '29'],
 ['경기도', '포천시', '호국로', '915'],
 ['경북', '포항시', '북구', '대이로', '188'],
 ['경북', '포항시', '남구', '냉천로', '10'],
 ['경기', '고양시', '일산동구', '무궁화로', '237'],
 ['경기도', '하남시', '덕풍서로', '70'],
 ['서울특별시', '성북구', '종암로', '167', '(하월곡동,', '동일하이빌뉴시티)'],
 ['부산', '해운대구', '좌동순환로', '511'],
 ['경기도', '화성시', '봉담읍', '효행로', '278'],
 ['경기도', '고양시', '덕양구', '백양로', '79'],
 ['경기도', '용인시', '기흥구', '흥덕중앙로', '60']]

In [11]:
addr2 = []

for i in range(len(addr)):
    if addr[i][0] == '서울': addr[i][0] = '서울특별시'
    elif addr[i][0] == '서울시': addr[i][0] = '서울특별시'
    elif addr[i][0] == '부산': addr[i][0] = '부산광역시'
    elif addr[i][0] == '부산시': addr[i][0] = '부산광역시'
    elif addr[i][0] == '인천': addr[i][0] = '인천광역시'
    elif addr[i][0] == '광주': addr[i][0] = '광주광역시'
    elif addr[i][0] == '강원': addr[i][0] = '강원도'
    elif addr[i][0] == '대전': addr[i][0] = '대전광역시'
    elif addr[i][0] == '대구': addr[i][0] = '대구광역시'
    elif addr[i][0] == '울산': addr[i][0] = '울산광역시'
    elif addr[i][0] == '세종시': addr[i][0] = '세종특별자치시'
    elif addr[i][0] == '경기': addr[i][0] = '경기도'
    elif addr[i][0] == '충북': addr[i][0] = '충청북도'
    elif addr[i][0] == '충남': addr[i][0] = '충청남도'
    elif addr[i][0] == '전북': addr[i][0] = '전라북도'
    elif addr[i][0] == '전남': addr[i][0] = '전라남도'
    elif addr[i][0] == '경북': addr[i][0] = '경상북도'
    elif addr[i][0] == '경남': addr[i][0] = '경상남도'
    elif addr[i][0] == '제주': addr[i][0] = '제주특별자치도'
 

    addr2.append(' '.join(addr[i]))

print(addr2) # 작업내용 확인
print(len(addr2))

['서울특별시 송파구 충민로 10', '서울특별시 강서구 양천로 559', '강원도 강릉시 경강로 2398-10', '인천광역시 서구 서곶로 754', '경기도 광주시 광주대로 30', '경상북도 경산시 옥산로 227', '인천광역시 계양구 봉오대로 785 이마트계양점', '경기도 과천시 별양상가3로 11', '경기도 수원시 광교로 191(이의동)', '경기도 광명시 소하로 97', '경기도 광명시 오리로 970 지하2층', '광주광역시 광산구 사암로 172 이마트 광산점', '광주광역시 서구 죽봉대로 61', '서울특별시 구로구 디지털로 32길 43', '경상북도 구미시 구미대로 256', '전라북도 군산시 구암3.1로 137', '부산광역시 금정구 중앙대로1841번길 24 (구서동, (주)이마트금정점)', '경상북도 김천시 시청로 75', '경기도 김포시 김포한강7로 71 구주소)경기 김포시 구래동 6880-9', '경상남도 김해시 김해대로 2232 (외동) 이마트 김해점', '경기도 남양주시 늘을2로 27', '전라북도 남원시 남문로 385-16', '경기도 남양주시 도농로 24', '대전광역시 동구 동서대로 1689', '경상북도 구미시 이계북로 23', '경기도 용인시 기흥구 동백죽전대로 444', '인천광역시 중구 인중로 134', '경기도 화성시 동탄중앙로 376', '강원도 동해시 천곡로 100', '대전광역시 서구 둔산북로 41', '경상남도 창원시 마산합포구 서성로 3', '서울특별시 마포구 백범로 212', '대구광역시 수성구 동원로 136 (만촌동, 이마트만촌점)', '서울특별시 강동구 고덕로 276', '서울특별시 양천구 오목로 299', '전라남도 목포시 옥암로 138', '서울특별시 중랑구 동일로 932', '부산광역시 남구 전포대로91번길 47', '서울특별시 성북구 도봉로 17 (길음동)', '대구광역시 동구 안심로 389-2', '경기도 남양주시 순화궁로 167 (별내동)', '경기도 용인시 기흥구 한보라1로 92', '충청남도 보령시 해안로 25', '광주광역시 남구 봉선로 198', '경기도 부천시 부천로 1 (심곡본동, 부천역사쇼핑몰) 이마트 부천점', '경기도 성남시 분당구 불정로 134', '부산광역시 사상구 광장로 17', '경상남도 사천시 삼천포대교로 591', '경기도 군포시 산본로 347', '서울특별시 중랑구 상봉로 118', '경상북도 상주시 경상대로 3141', '제주특별자치도 서귀포시 일주동로 9209', '충청남도 서산시 서해로 3685', '경기도 수원시 권선구 수인로 291', '경기도 성남시 수정구 수정로 201', '대구광역시 달서구 이곡동로 24', '서울특별시 성동구 뚝섬로 379', '세종특별자치시 금송로 687', '강원도 속초시 설악금강대교로 12', '서울특별시 은평구 수색로 217 (수색동, 디엠씨 자이1단지(DMC 자이1))', '서울특별시 강남구 광평로 280', '경기도 수원시 권선구 경수대로 270 (권선동, 주차빌딩)', '경기도 용인시 수지구 수지로 203 (신봉동)', '전라남도 순천시 팔마로 191', '경기도 시흥시 정왕대로 210', '서울특별시 구로구 새말로 97 테크노마트 지하2층', '서울특별시 양천구 화곡로 59', '제주특별자치도 제주시 1100로 3348', '서울특별시 마포구 신촌로 94 (노고산동, 그랜드플라자)', '충청남도 아산시 온천대로 1678', '경상북도 안동시 옥동 1길2', '경기도 안산시 단원구 원포공원1로 46', '경기도 안성시 중앙로 246', '경기도 안양시 동안구 관악대로 104 (비산동, 부방유통) 이마트 안양점', '경상남도 양산시 양산역6길 12', '서울특별시 서초구 매헌로 16', '경기도 양주시 평화로 1713', '전라북도 전주시 덕진구 세병서로 9 (송천동2가, 전주 에코시티 이마트) (세병서로 9)', '전라남도 여수시 좌수영로 277', '서울특별시 영등포구 여의동로3길 10', '경기도 여주시 세종로 151', '서울특별시 강남구 역삼로 310', '인천광역시 연수구 경원대로 184', '부산광역시 연제구 연수로 89 이마트 연제점', '서울특별시 영등포구 영중로 15', '경상북도 영천시 최무선로 83', '경기도 오산시 경기대로 181', '서울특별시 성동구 왕십리광장로 17 이마트 왕십리점', '서울특별시 용산구 한강대로23길 55', '경기도 용인시 처인구 명지로 53 이마트 용인점', '울산광역시 남구 남중로 48', '강원도 원주시 북원로 1928', '서울특별시 노원구 마들로3길 15 이마트 월계점', '대구광역시 달서구 진천로 92 이마트 월배점', '서울특별시 은평구 은평로 111 이마트 은평점', '경기도 의왕시 경수대로 262 (오전동, 서해그랑블) B1F~B2F 이마트의왕점', '경기도 의정부시 민락로 210', '서울특별시 동작구 사당로 300 이수자이 B1', '경기도 이천시 이섭대천로 1440-50', '전라북도 익산시 평동로 705', '경기도 고양시 일산동구 중앙로 1124', '서울특별시 광진구 아차산로 272', '전라북도 전주시 완산구 당산로 111', '제주특별자치도 제주시 탑동로 38', '충청북도 제천시 장평천로 11', '경기도 용인시 수지구 포은대로 552', '경기도 부천시 석천로 188 (중동, (주)신세계이마트중동점)', '경기도 남양주시 진접읍 금강로유연들1길 154', '경상남도 진주시 진양호로 477', '서울특별시 도봉구 노해로 65길 4', '경상남도 창원시 성산구 원이대로 608', '충청남도 천안시 서북구 삼성대로 20', '충청남도 천안시 서북구 충무로 187', '충청남도 천안시 동남구 만남로 43', '서울특별시 강동구 천호대로 1017', '서울특별시 중구 청계천로 400', '충청북도 청주시 서원구 청남로 1853', '강원도 춘천시 경춘로 2353', '충청북도 충주시 중원대로 3420', '대구광역시 북구 침산로 93', '경기도 고양시 일산서구 킨텍스로 171(대화동)', '강원도 태백시 굴거랑길 4', '경상남도 통영시 광도면 죽림4로 9', '경기도 파주시 한울로 123', '경기도 파주시 당하길 10', '경기도 수원시 장안구 정자로20번길 10 (천천동)', '경기도 안양시 동안구 시민대로 300', '경기도 평택시 영신로 29', '경기도 포천시 호국로 915', '경상북도 포항시 북구 대이로 188', '경상북도 포항시 남구 냉천로 10', '경기도 고양시 일산동구 무궁화로 237', '경기도 하남시 덕풍서로 70', '서울특별시 성북구 종암로 167 (하월곡동, 동일하이빌뉴시티)', '부산광역시 해운대구 좌동순환로 511', '경기도 화성시 봉담읍 효행로 278', '경기도 고양시 덕양구 백양로 79', '경기도 용인시 기흥구 흥덕중앙로 60']
138

In [12]:
addr2 = pd.DataFrame(addr2, columns=['address2'])

In [13]:
Emart2 = pd.concat([df, addr2], axis=1)
Emart2.head()

,store,address,Latitude,Longitude,tel,address2
0,이마트 가든5점,서울특별시 송파구 충민로 10,37.478232,127.119370,02-411-1234,서울특별시 송파구 충민로 10
1,이마트 가양점,서울 강서구 양천로 559,37.557897,126.862298,02-2101-1234,서울특별시 강서구 양천로 559
2,이마트 강릉점,강원도 강릉시 경강로 2398-10,37.770583,128.922618,033-649-1234,강원도 강릉시 경강로 2398-10
3,이마트 검단점,인천광역시 서구 서곶로 754,37.585534,126.677194,032-440-1234,인천광역시 서구 서곶로 754
4,이마트 경기광주점,경기 광주시 광주대로 30,37.409522,127.261229,031-8026-1234,경기도 광주시 광주대로 30

In [14]:
Emart2 = Emart2[['store', 'address2', 'Latitude', 'Longitude', 'tel']]
Emart2

,store,address2,Latitude,Longitude,tel
0,이마트 가든5점,서울특별시 송파구 충민로 10,37.478232,127.119370,02-411-1234
1,이마트 가양점,서울특별시 강서구 양천로 559,37.557897,126.862298,02-2101-1234
2,이마트 강릉점,강원도 강릉시 경강로 2398-10,37.770583,128.922618,033-649-1234
3,이마트 검단점,인천광역시 서구 서곶로 754,37.585534,126.677194,032-440-1234
4,이마트 경기광주점,경기도 광주시 광주대로 30,37.409522,127.261229,031-8026-1234
...,...,...,...,...,...
133,이마트 하월곡점,"서울특별시 성북구 종암로 167 (하월곡동, 동일하이빌뉴시티)",37.605834,127.030928,02-6936-1234
134,이마트 해운대점,부산광역시 해운대구 좌동순환로 511,35.165994,129.167388,051-608-1234
135,이마트 화성봉담점,경기도 화성시 봉담읍 효행로 278,37.223313,126.972719,031-228-1234
136,이마트 화정점,경기도 고양시 덕양구 백양로 79,37.632646,126.833384,031-995-1234
137,이마트 흥덕점,경기도 용인시 기흥구 흥덕중앙로 60,37.275715,127.073340,031-8021-1234

In [16]:
Emart2.to_csv('Emart2.csv', index=True)

In [17]:
Emart2 = Emart2.rename(columns={'address2':'address'})
df.head()
df.to_csv('Emart2.csv', index=True)