In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./data/topmart_shop_info_loc.csv', index_col=0, encoding='utf-8')
data.head()

   store                        address   Latitude   Longitude           phone
0  영도봉래점                 부산 영도구 태종로 194  35.094210  129.049444  051)418-2102~3
1    진영점             경남 김해시 진영읍 진영로 221  35.302670  128.736928  055)345-0388~9
2    금사점        부산 금정구 공단서로 22 (강산병원 옆)  35.216975  129.110783    051)527-2222
3    통영점  경남 통영시 미수해안로 164-13 (봉평오거리 옆)  34.832157  128.413960  055)648-8161~3
4    진주점                 경남 진주시 도동로 251  35.192582  128.121298  055)762-2571~5

In [3]:
data.insert(0, 'store_name', '탑마트')

In [4]:
data.head()

,store_name,store,address,Latitude,Longitude,phone
0,탑마트,영도봉래점,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3
1,탑마트,진영점,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9
2,탑마트,금사점,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222
3,탑마트,통영점,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3
4,탑마트,진주점,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5

In [7]:
data['name'] = data.apply(lambda r: r['store_name'] + ' ' + r['store'], axis='columns')
data.head()

,store_name,store,address,Latitude,Longitude,phone,name
0,탑마트,영도봉래점,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3,탑마트 영도봉래점
1,탑마트,진영점,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9,탑마트 진영점
2,탑마트,금사점,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222,탑마트 금사점
3,탑마트,통영점,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3,탑마트 통영점
4,탑마트,진주점,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5,탑마트 진주점

In [10]:
data = data.drop('store_name', axis=1)

In [11]:
data = data.drop('store', axis=1)

In [12]:
data.head()

,address,Latitude,Longitude,phone,name
0,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3,탑마트 영도봉래점
1,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9,탑마트 진영점
2,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222,탑마트 금사점
3,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3,탑마트 통영점
4,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5,탑마트 진주점

In [15]:
data = data.rename(columns={'name':'store'})

In [16]:
data = data.rename(columns={'phone':'tel'})

In [17]:
data.head()

,address,Latitude,Longitude,tel,store
0,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3,탑마트 영도봉래점
1,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9,탑마트 진영점
2,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222,탑마트 금사점
3,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3,탑마트 통영점
4,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5,탑마트 진주점

In [18]:
data = data[['store', 'address', 'Latitude', 'Longitude', 'tel']]

In [19]:
data.head()

,store,address,Latitude,Longitude,tel
0,탑마트 영도봉래점,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3
1,탑마트 진영점,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9
2,탑마트 금사점,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222
3,탑마트 통영점,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3
4,탑마트 진주점,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5

In [2]:
topmart = pd.read_csv('./topmart_shop_info_loc.csv', index_col=0, encoding='utf-8')
topmart.head()

,store,address,Latitude,Longitude,tel
0,탑마트 영도봉래점,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3
1,탑마트 진영점,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9
2,탑마트 금사점,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222
3,탑마트 통영점,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3
4,탑마트 진주점,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5

In [3]:
addr = []
for address in topmart.address:
    addr.append(str(address).split())
addr

[['부산', '영도구', '태종로', '194'],
 ['경남', '김해시', '진영읍', '진영로', '221'],
 ['부산', '금정구', '공단서로', '22', '(강산병원', '옆)'],
 ['경남', '통영시', '미수해안로', '164-13', '(봉평오거리', '옆)'],
 ['경남', '진주시', '도동로', '251'],
 ['부산', '동래구', '사직북로33번길', '34', '(국민시장', '내)'],
 ['부산', '사하구', '하신중앙로', '210'],
 ['경남', '밀양시', '창밀로', '3561'],
 ['경남', '김해시', '구산로', '50', '(구산고', '밑)'],
 ['부산', '연제구', '중앙대로', '1174', '구)피자헛', '연산점', '자리'],
 ['부산', '해운대구', '선수촌로', '119'],
 ['경남', '고성군', '고성읍', '성내로', '28'],
 ['부산', '기장군', '기장읍', '대청로71번길', '5', '(기장병원', '옆)'],
 ['부산', '남구', '홍곡로', '3', '(감만상가아파트', '지하)'],
 ['경남', '사천시', '새시장길', '19', '(삼천포종합시장', '내)'],
 ['부산', '북구', '금곡대로', '270', '(대림아파트상가', '지하)'],
 ['경남', '밀양시', '삼문중앙로', '13', '(삼문동', '주민센터', '옆)'],
 ['경북', '경주시', '중앙로', '60'],
 ['부산', '사하구', '다대로554번길', '7'],
 ['경남', '창원시', '마산합포구', '오동동14길', '29', '(기산아파트', '1층)'],
 ['경남', '김해시', '가락로', '83'],
 ['경남', '양산시', '북안북7길', '28', '(양산중학교', '옆)'],
 ['울산', '울주군', '언양읍', '헌양길', '117'],
 ['부산', '사하구', '낙동대로', '353', '(에디스', '여성병원', '옆)'],
 ['경남', '사천시', '정동면', '옥산로', '38'],
 ['부산', '사하구', '다송로', '58', '(롯데캐슬블루', '앞)'],
 ['경남', '양산시', '물금읍', '황산로', '653'],
 ['부산', '해운대구', '좌동로', '38'],
 ['부산', '기장군', '기장읍', '읍내로', '49', '(서부주공아파트', '앞)'],
 ['경남', '진주시', '진주대로', '784', '(촉석골프랜드', '옆)'],
 ['경남', '김해시', '활천로255번길', '16'],
 ['부산', '해운대구', '윗반송로', '8'],
 ['경북', '포항시', '남구', '연일읍', '유강길9번길', '35'],
 ['경북', '경주시', '용담로104번길', '25', '(현대1차', '후문', '앞)'],
 ['울산', '북구', '화봉로', '79', '(화봉파출소', '옆)'],
 ['울산', '울주군', '온양읍', '연안2길', '7', '(상아1차', '앞)'],
 ['경남', '양산시', '삼성5길', '11-12'],
 ['경남', '김해시', '삼계중앙로', '12', '(장신대역', '옆)'],
 ['부산', '서구', '충무대로', '246'],
 ['경남', '창원시', '마산회원구', '내서읍', '호계안길', '97', '(동서병원', '옆)'],
 ['울산', '울주군', '범서읍', '천상길', '34'],
 ['경남', '창원시', '진해구', '충장로523번길', '7', '(동진여중', '밑)'],
 ['경남', '거제시', '신부로', '42-15'],
 ['경북', '포항시', '북구', '중앙로419번길', '29'],
 ['경남', '밀양시', '가곡7길', '24', '(밀양한전', '옆)'],
 ['경남', '김해시', '분성로', '104', '(중앙병원', '옆)'],
 ['부산', '사하구', '다대로', '296', '(신장림역', '3번출구)'],
 ['부산', '영도구', '동삼로', '56'],
 ['부산', '북구', '백양대로', '1052', '(맥도날드', '구남점', '맞은편)'],
 ['경북', '포항시', '북구', '죽도로', '90'],
 ['경남', '창원시', '성산구', '창원천로', '292', '(대동그린코아상가)'],
 ['경남', '통영시', '광도면', '신죽1길', '18', '(죽림초', '앞)'],
 ['경남', '진주시', '동부로', '73', '(경남정보고', '맞은편)'],
 ['경남', '창원시', '의창구', '동읍', '동읍로', '1-10'],
 ['경북', '경주시', '안강읍', '비화동길', '41'],
 ['대구', '달성군', '현풍읍', '현풍로', '10길', '74'],
 ['부산', '동래구', '아시아드대로', '215'],
 ['경남', '창녕군', '창녕읍', '술정동탑길', '4'],
 ['경북', '포항시', '남구', '오천읍', '원동로', '33', '(원동초', '후문', '앞)'],
 ['부산', '사하구', '감천로', '29'],
 ['경북', '청도군', '청도읍', '고수동4길', '7-11'],
 ['경남', '진주시', '금산면', '금산순환로', '36'],
 ['경북', '영천시', '동부로', '64', '(참편한요양병원', '옆)'],
 ['부산', '서구', '대영로', '5', '(서대신역', '4번출구)'],
 ['울산', '울주군', '범서읍', '점촌5길', '6', '(울주경찰서', '뒤)'],
 ['부산', '동구', '초량로13번길', '53', '(구,', '남선창고)'],
 ['경남', '창원시', '마산회원구', '양덕옛2길', '13', '(우성아파트', '앞)'],
 ['부산', '금정구', '금샘로', '456(남산동)', '(남산성당', '옆)'],
 ['경남', '창원시', '의창구', '사화로17번길', '3', '(창원역', '맞은편)'],
 ['부산', '기장군', '정관면', '산단1로', '133', '(삼성자동차서비스', '옆)'],
 ['경남', '진주시', '에나로', '128번길', '28', '(LH본사', '정문사거리', '앞)'],
 ['경남', '김해시', '덕정로', '85'],
 ['경남', '진주시', '새평거로', '136', '(평거동', '921)'],
 ['대구', '중구', '중앙대로', '66길', '20', '(효성해링턴', '지하)'],
 ['경남', '양산시', '물금읍', '물금중앙길', '18', '(구,', '물금시장)'],
 ['경북', '경주시', '산업로', '4348', '(용강동)'],
 ['부산', '금정구', '부곡동', '79', '(부곡동', '333-1)']]

In [4]:
addr2 = []

for i in range(len(addr)):
    if addr[i][0] == '부산': addr[i][0] = '부산광역시'
    elif addr[i][0] == '경남': addr[i][0] = '경상남도'
    elif addr[i][0] == '경북': addr[i][0] = '경상북도'
    elif addr[i][0] == '울산': addr[i][0] = '울산광역시'
    elif addr[i][0] == '대구': addr[i][0] = '대구광역시'
    
    addr2.append(' '.join(addr[i]))
    
print(addr2)
print(len(addr2))

['부산광역시 영도구 태종로 194', '경상남도 김해시 진영읍 진영로 221', '부산광역시 금정구 공단서로 22 (강산병원 옆)', '경상남도 통영시 미수해안로 164-13 (봉평오거리 옆)', '경상남도 진주시 도동로 251', '부산광역시 동래구 사직북로33번길 34 (국민시장 내)', '부산광역시 사하구 하신중앙로 210', '경상남도 밀양시 창밀로 3561', '경상남도 김해시 구산로 50 (구산고 밑)', '부산광역시 연제구 중앙대로 1174 구)피자헛 연산점 자리', '부산광역시 해운대구 선수촌로 119', '경상남도 고성군 고성읍 성내로 28', '부산광역시 기장군 기장읍 대청로71번길 5 (기장병원 옆)', '부산광역시 남구 홍곡로 3 (감만상가아파트 지하)', '경상남도 사천시 새시장길 19 (삼천포종합시장 내)', '부산광역시 북구 금곡대로 270 (대림아파트상가 지하)', '경상남도 밀양시 삼문중앙로 13 (삼문동 주민센터 옆)', '경상북도 경주시 중앙로 60', '부산광역시 사하구 다대로554번길 7', '경상남도 창원시 마산합포구 오동동14길 29 (기산아파트 1층)', '경상남도 김해시 가락로 83', '경상남도 양산시 북안북7길 28 (양산중학교 옆)', '울산광역시 울주군 언양읍 헌양길 117', '부산광역시 사하구 낙동대로 353 (에디스 여성병원 옆)', '경상남도 사천시 정동면 옥산로 38', '부산광역시 사하구 다송로 58 (롯데캐슬블루 앞)', '경상남도 양산시 물금읍 황산로 653', '부산광역시 해운대구 좌동로 38', '부산광역시 기장군 기장읍 읍내로 49 (서부주공아파트 앞)', '경상남도 진주시 진주대로 784 (촉석골프랜드 옆)', '경상남도 김해시 활천로255번길 16', '부산광역시 해운대구 윗반송로 8', '경상북도 포항시 남구 연일읍 유강길9번길 35', '경상북도 경주시 용담로104번길 25 (현대1차 후문 앞)', '울산광역시 북구 화봉로 79 (화봉파출소 옆)', '울산광역시 울주군 온양읍 연안2길 7 (상아1차 앞)', '경상남도 양산시 삼성5길 11-12', '경상남도 김해시 삼계중앙로 12 (장신대역 옆)', '부산광역시 서구 충무대로 246', '경상남도 창원시 마산회원구 내서읍 호계안길 97 (동서병원 옆)', '울산광역시 울주군 범서읍 천상길 34', '경상남도 창원시 진해구 충장로523번길 7 (동진여중 밑)', '경상남도 거제시 신부로 42-15', '경상북도 포항시 북구 중앙로419번길 29', '경상남도 밀양시 가곡7길 24 (밀양한전 옆)', '경상남도 김해시 분성로 104 (중앙병원 옆)', '부산광역시 사하구 다대로 296 (신장림역 3번출구)', '부산광역시 영도구 동삼로 56', '부산광역시 북구 백양대로 1052 (맥도날드 구남점 맞은편)', '경상북도 포항시 북구 죽도로 90', '경상남도 창원시 성산구 창원천로 292 (대동그린코아상가)', '경상남도 통영시 광도면 신죽1길 18 (죽림초 앞)', '경상남도 진주시 동부로 73 (경남정보고 맞은편)', '경상남도 창원시 의창구 동읍 동읍로 1-10', '경상북도 경주시 안강읍 비화동길 41', '대구광역시 달성군 현풍읍 현풍로 10길 74', '부산광역시 동래구 아시아드대로 215', '경상남도 창녕군 창녕읍 술정동탑길 4', '경상북도 포항시 남구 오천읍 원동로 33 (원동초 후문 앞)', '부산광역시 사하구 감천로 29', '경상북도 청도군 청도읍 고수동4길 7-11', '경상남도 진주시 금산면 금산순환로 36', '경상북도 영천시 동부로 64 (참편한요양병원 옆)', '부산광역시 서구 대영로 5 (서대신역 4번출구)', '울산광역시 울주군 범서읍 점촌5길 6 (울주경찰서 뒤)', '부산광역시 동구 초량로13번길 53 (구, 남선창고)', '경상남도 창원시 마산회원구 양덕옛2길 13 (우성아파트 앞)', '부산광역시 금정구 금샘로 456(남산동) (남산성당 옆)', '경상남도 창원시 의창구 사화로17번길 3 (창원역 맞은편)', '부산광역시 기장군 정관면 산단1로 133 (삼성자동차서비스 옆)', '경상남도 진주시 에나로 128번길 28 (LH본사 정문사거리 앞)', '경상남도 김해시 덕정로 85', '경상남도 진주시 새평거로 136 (평거동 921)', '대구광역시 중구 중앙대로 66길 20 (효성해링턴 지하)', '경상남도 양산시 물금읍 물금중앙길 18 (구, 물금시장)', '경상북도 경주시 산업로 4348 (용강동)', '부산광역시 금정구 부곡동 79 (부곡동 333-1)']
77

In [5]:
addr2 = pd.DataFrame(addr2, columns=['address2'])

In [6]:
topmart = pd.concat([topmart,addr2], axis=1)
topmart.head()

,store,address,Latitude,Longitude,tel,address2
0,탑마트 영도봉래점,부산 영도구 태종로 194,35.094210,129.049444,051)418-2102~3,부산광역시 영도구 태종로 194
1,탑마트 진영점,경남 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9,경상남도 김해시 진영읍 진영로 221
2,탑마트 금사점,부산 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222,부산광역시 금정구 공단서로 22 (강산병원 옆)
3,탑마트 통영점,경남 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3,경상남도 통영시 미수해안로 164-13 (봉평오거리 옆)
4,탑마트 진주점,경남 진주시 도동로 251,35.192582,128.121298,055)762-2571~5,경상남도 진주시 도동로 251

In [8]:
topmart = topmart.drop('address', axis=1)

In [11]:
topmart = topmart.rename(columns={'address2':'address'})

In [12]:
topmart = topmart[['store', 'address', 'Latitude', 'Longitude', 'tel']]
topmart

,store,address,Latitude,Longitude,tel
0,탑마트 영도봉래점,부산광역시 영도구 태종로 194,35.094210,129.049444,051)418-2102~3
1,탑마트 진영점,경상남도 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9
2,탑마트 금사점,부산광역시 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222
3,탑마트 통영점,경상남도 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3
4,탑마트 진주점,경상남도 진주시 도동로 251,35.192582,128.121298,055)762-2571~5
...,...,...,...,...,...
72,탑마트 서진주점,경상남도 진주시 새평거로 136 (평거동 921),35.181392,128.069798,055)743-6300
73,탑마트 대구점,대구광역시 중구 중앙대로 66길 20 (효성해링턴 지하),35.862074,128.594685,053)251-5000
74,탑마트 물금역점,"경상남도 양산시 물금읍 물금중앙길 18 (구, 물금시장)",35.309926,128.984952,055-387-3008
75,탑마트 경주용강점,경상북도 경주시 산업로 4348 (용강동),35.870536,129.231939,054)744-5501~2
76,탑마트 부곡점,부산광역시 금정구 부곡동 79 (부곡동 333-1),35.223140,129.090565,051)583-1501~2

In [14]:
topmart.to_csv('./topmart_shop_info_loc.csv', encoding='utf-8', index=False)
topmart.head()

,store,address,Latitude,Longitude,tel
0,탑마트 영도봉래점,부산광역시 영도구 태종로 194,35.094210,129.049444,051)418-2102~3
1,탑마트 진영점,경상남도 김해시 진영읍 진영로 221,35.302670,128.736928,055)345-0388~9
2,탑마트 금사점,부산광역시 금정구 공단서로 22 (강산병원 옆),35.216975,129.110783,051)527-2222
3,탑마트 통영점,경상남도 통영시 미수해안로 164-13 (봉평오거리 옆),34.832157,128.413960,055)648-8161~3
4,탑마트 진주점,경상남도 진주시 도동로 251,35.192582,128.121298,055)762-2571~5